*{
    margin: 0;
    box-sizing: border-box;
}

.Main{
    padding: 0.5rem 1rem;
    padding-bottom: 2.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

input{
    border-radius: 5px;
    border-color: #ffff;
    background-color: #33373c;
    width: 50%;
}

.botaoAdd{
    background-color: #33373c;
    width: 50px;
    height: 60px;
    border-color: #ffff;
    color: white;
    border-radius: 5px;
}

.input{
    background-color:#33373c;
    display: flex;
    padding: 15px;
    justify-content: center;
    gap: 5px;
    border-radius: 5px;
}

.itens{
    background-color: #33373c;
    padding: 15px;
    border-radius: 5px;
    height: auto;
    margin-top: 10px;
    align-items: center;
    text-align: center;
}

.task{
    display: flex;
    justify-content: center;
    border-color: aliceblue;
    background-color: purple;
    margin-top: 5px;
    height: 50px;
}

.buttonX{
    color: white;
    border: white;
    background-color: #33373c;
    border-radius: 5px;
}